@import "tailwindcss";
* {
  cursor: none;
}

.custom-cursor {
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.15s ease-out, width 0.15s, height 0.15s;
}

.cursor-hover {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid #000;
}

html {
  scroll-behavior: auto;
}

input:focus,
textarea:focus {
  border-color: #000;
}
